@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "DIN";
    src: url("./Assets/fonts/DINNeuzeitGroteskStdBdCond.otf");
}

@font-face {
    font-family: "Harmonia";
    src: url("./Assets/fonts/Harmonia-Sans-Font/Harmonia\ Sans\ W06\ Condensed.otf");
}

.harmonia{
    font-family: "Harmonia";
}

.din {
    font-family: "DIN";
}

